@import url(http://fonts.googleapis.com/css?family=Play);
body {
    margin: 0;
    padding: 0;
    background: rgba(32, 201, 118, 0.57);
}

#mainBlock {
    position: relative;
    width: 500px;
    height: 75px;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: #beffaa;
/*    box-shadow: 0px 0px 3px black;*/
    overflow: hidden;
    transition: all .4s ease;
}

#buttons {
    position: relative;
    top: -14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.28);
    min-height: 50px;
    background: linear-gradient(to top, rgba(163, 209, 248, 0.36), #beffaa, rgba(163, 209, 248, 0.36));
}

button {
    padding: .8em em calc(.8em + 3px);
    border-radius: 3px;
    box-shadow: 0 -1px rgb(53, 167, 110) inset;
    transition: 0.4s;
    background: rgba(0, 0, 0, 0);
}

.button {
    float: left;
    margin: 9px 0px 0px 9px;
}

input[type="range"] {
    z-index: 1;
    position: relative;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    height: 8px;
    background: rgba(0, 0, 0, 0.8);
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

input[type=range]::-moz-range-track {
    height: 5px;
    background-color: black;
    border: none;
    margin: -5px;
    padding: -5px;
}

input[type=range]::-moz-range-thumb {
    background: rgba(0, 0, 0, 0);
    border: none;
    height: 7px;
    width: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 7px;
    width: 10px;
}

#volume #current-volume {
    z-index: 2;
    position: absolute;
    left: 355px;
    top: 47px;
    background: #3af;
    height: 6px;
    width: 60px;
    pointer-events: none;
    transition: all .2s ease;
}

#volume input[type="range"] {
    width: 119px;
    left: 353px;
    top: 44px;
}

#time input[type="range"] {
    width: 449px;
    left: 24px;
    top: 0px;
}

#timer {
    position: absolute;
    left: 258px;
    top: 13px;
    font-size: 20px;
    font-family: play;
}

#time {
    position: relative;
    height: 20px;
    top: -13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    background: linear-gradient(to top, rgba(163, 209, 248, 0.36), #beffaa);
}

#time #currentTime {
    z-index: 3;
    display: inline-block;
    position: absolute;
    background: #3af;
    height: 6px;
    width: 0px;
    left: 26px;
    top: 3px;
    pointer-events: none;
}

html>body #volume #current-volume,
x:-moz-any-link,
x:default {
    left: 355px;
    top: 48px;
}

html>body #time #currentTime,
x:-moz-any-link,
x:default {
    left: 26px;
    top: 1px;
}

html>body input[type="range"],
x:-moz-any-link,
x:default {
    margin-left: 2px;
    height: 6px;
}

html>body input[type="range"]#volume-bar,
x:-moz-any-link,
x:default {
    margin-top: 3px;
    height: 6px;
}

html>body button,
x:-moz-any-link,
x:default {
    padding: 0px 3px 0px 2px;
    border-radius: 3px;
    box-shadow: 0 -1px rgb(53, 167, 110) inset;
    transition: 0.4s;
    background: rgba(0, 0, 0, 0);
}

#playlist {
    position: absolute;
    top: 76px;
    width: 100%;
    max-height: 403px;
    overflow-y: auto;
}

.song {
    background: linear-gradient(to top, rgba(163, 209, 248, 0.26), #beffaa, rgba(163, 209, 248, 0.26));
    cursor: default;
    font-family: play;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.song:last-child {
    border: none;
}

.song:hover {
    background: rgba(90, 255, 39, 0.26);
    transition: all .5s ease;
}

.playing {
    background: rgba(90, 255, 39, 0.26);
}

#MyPlayer {
    width: 500px;
    height: auto;
    margin: 40px auto;
    box-shadow: 0px 0px 3px black;
    background: #beffaa;
    border-radius: 5px;
}

#myCanvas {
    position: relative;
    width: 498px;
    height: 100px;
    border:1px solid #beffaa;
    border-radius: 4px;
}
